body {
    background-color: #0C0C0C;
    text-align: center;
    vertical-align: auto;
}

img {
    width: 200px;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 25px 250px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
.item {
    background-color: #481E14;
    margin: 0px;
    padding: 0px;
    text-align: center;
    border: 1px solid #0C0C0C;
}